 .u-section-1 {
  min-height: 738px;
  background-image: none;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 748px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 99px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 46px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 1px;
  padding: 19px 52px 19px 51px;
}

.u-section-1 .u-image-1 {
  min-height: 748px;
  background-image: url("images/1666996754594.png?rand=f922");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 478px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 1002px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 514px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 44px;
    margin-right: 16px;
    margin-left: 44px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -197px;
    margin-right: -446px;
    margin-left: 511px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 28px;
    margin-right: -419px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 750px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 491px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 46px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 45px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 23px;
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 746px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 558px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 10px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 21px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 85px;
  }

  .u-section-1 .u-image-1 {
    min-height: 560px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 354px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 11px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 8px 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 22px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 22px;
    padding: 11px 36px 12px;
  }

  .u-section-1 .u-image-1 {
    min-height: 353px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/1920x1080.jpg");
  min-height: 866px;
  background-position: 50% 50%;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  margin: 90px auto 0 calc(((100% - 1140px) / 2) + 219px);
}

.u-section-2 .u-image-1 {
  height: 654px;
  margin-top: 234px;
  margin-bottom: 0;
  filter: brightness(0.15);
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: -759px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 293px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  font-size: 1rem;
  margin: 35px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  font-size: 1rem;
  margin: 35px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  font-size: 1rem;
  margin: 35px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  font-size: 1rem;
  margin: 35px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 714px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 219px);
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 238px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 930px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 93px;
    margin-right: 50px;
    margin-left: calc(((100% - 720px) / 2) + 18px);
  }

  .u-section-2 .u-image-1 {
    margin-top: 231px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 547px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 698px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 18px);
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 439px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: calc(((100% - 340px) / 2) + 18px);
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 562px;
    grid-gap: 20px 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 15px 7px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 15px 7px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 15px 7px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 15px 7px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 0.75rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1072px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  font-size: 3rem;
  margin: 117px 111px 0;
}

.u-section-3 .u-list-1 {
  width: 540px;
  margin: 60px auto 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 464px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 8px 18px;
}

.u-section-3 .u-icon-1 {
  width: 82px;
  height: 82px;
  background-image: none;
  margin: 7px 0 0 auto;
  padding: 17px;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 22px 1px 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 8px 18px;
}

.u-section-3 .u-icon-2 {
  width: 82px;
  height: 82px;
  background-image: none;
  margin: 7px 0 0 auto;
  padding: 17px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 22px 1px 0;
}

.u-section-3 .u-list-2 {
  width: 540px;
  margin: -426px 0 60px auto;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 464px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 8px 18px;
}

.u-section-3 .u-icon-3 {
  width: 82px;
  height: 82px;
  background-image: none;
  margin: 7px auto 0 0;
  padding: 17px;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 22px 2px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 8px 18px;
}

.u-section-3 .u-icon-4 {
  width: 82px;
  height: 82px;
  background-image: none;
  margin: 7px auto 0 0;
  padding: 17px;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  margin: 22px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-3 .u-text-1 {
    text-transform: none;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-3 .u-list-1 {
    width: 450px;
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 489px;
  }

  .u-section-3 .u-list-2 {
    width: 451px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
    min-height: 489px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 68px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: 109px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 780px;
    grid-gap: 30px 30px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-list-2 {
    width: 340px;
    margin-top: -791px;
    margin-bottom: 1px;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 950px;
    grid-gap: 30px 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1604px;
  }

  .u-section-3 .u-list-1 {
    width: 248px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 623px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 20px;
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 20px;
    padding-left: 10px;
  }

  .u-section-3 .u-list-2 {
    width: 248px;
    margin-top: -980px;
    margin-bottom: 8px;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 1308px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1390px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 21px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 532px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 1px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 1px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-2 {
    margin-top: 42px;
    margin-bottom: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 696px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.75rem;
  }
} .u-section-4 {
  background-image: url("images/doe-o-dinheiro-1577032.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 688px;
}

.u-section-4 .u-group-1 {
  width: 853px;
  min-height: 491px;
  height: auto;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.65;
  margin: 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-shape-1 {
  width: 463px;
  height: 20px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 39px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 51px 27px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 51px auto 0;
  padding: 19px 52px 19px 51px;
}

.u-section-4 .u-shape-2 {
  width: 463px;
  height: 20px;
  margin: 40px auto 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-size: 140%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-btn-1 {
    align-self: center;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-4 .u-group-1 {
    min-height: 488px;
    width: 654px;
    margin-top: 70px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 12px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    background-size: auto 140%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-4 .u-group-1 {
    min-height: 418px;
    margin-top: 29px;
    margin-bottom: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-shape-1 {
    width: 255px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 30px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 12px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 20px;
  }

  .u-section-4 .u-shape-2 {
    width: 255px;
    margin-top: 33px;
    margin-left: 20px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 544px;
}

.u-section-5 .u-text-1 {
  width: 764px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  margin: 84px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  width: 824px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 37px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 37px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 24px) calc(25% - 24px) calc(25% - 24px) calc(25% - 24px);
  min-height: 251px;
  grid-gap: 32px 32px;
}

.u-section-5 .u-list-item-1 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-5 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 11px;
}

.u-section-5 .u-text-4 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-5 .u-text-5 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 11px;
}

.u-section-5 .u-text-6 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-5 .u-list-item-3 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-5 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 11px;
}

.u-section-5 .u-text-8 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-5 .u-list-item-4 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-5 .u-text-9 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 11px;
}

.u-section-5 .u-text-10 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 24px));
    min-height: 306px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
    min-height: 693px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
    margin-top: 37px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    margin-top: 19px;
    margin-bottom: 11px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 16px) calc(50% - 16px);
    min-height: 493px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 24px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 24px;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-10 {
    font-size: 0.75rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1046px;
}

.u-section-6 .u-text-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 63px 611px 0 0;
}

.u-section-6 .u-list-1 {
  width: 529px;
  margin: 50px auto 0 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 849px;
  grid-gap: 30px 30px;
}

.u-section-6 .u-container-layout-1 {
  padding: 25px 18px;
}

.u-section-6 .u-text-2 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 0 25px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 11px 12px 0;
}

.u-section-6 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  background-image: none;
  margin: 27px auto 0 12px;
}

.u-section-6 .u-icon-1 {
  background-image: none;
}

.u-section-6 .u-icon-2 {
  background-image: none;
}

.u-section-6 .u-icon-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 25px 18px;
}

.u-section-6 .u-text-4 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 0 25px 0 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 11px 12px 0;
}

.u-section-6 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  background-image: none;
  margin: 27px auto 0 12px;
}

.u-section-6 .u-icon-4 {
  background-image: none;
}

.u-section-6 .u-icon-5 {
  background-image: none;
}

.u-section-6 .u-icon-6 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 25px 18px;
}

.u-section-6 .u-text-6 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 0 25px 0 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 11px 12px 0;
}

.u-section-6 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  background-image: none;
  margin: 27px auto 0 12px;
}

.u-section-6 .u-icon-7 {
  background-image: none;
}

.u-section-6 .u-icon-8 {
  background-image: none;
}

.u-section-6 .u-icon-9 {
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 25px 18px;
}

.u-section-6 .u-text-8 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 0 25px 0 0;
}

.u-section-6 .u-text-9 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 11px 12px 0;
}

.u-section-6 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  background-image: none;
  margin: 27px auto 0 12px;
}

.u-section-6 .u-icon-10 {
  background-image: none;
}

.u-section-6 .u-icon-11 {
  background-image: none;
}

.u-section-6 .u-icon-12 {
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  padding: 25px 18px;
}

.u-section-6 .u-text-10 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 0 25px 0 0;
}

.u-section-6 .u-text-11 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 11px 12px 0;
}

.u-section-6 .u-social-icons-5 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  background-image: none;
  margin: 27px auto 0 12px;
}

.u-section-6 .u-icon-13 {
  background-image: none;
}

.u-section-6 .u-icon-14 {
  background-image: none;
}

.u-section-6 .u-icon-15 {
  background-image: none;
}

.u-section-6 .u-container-layout-6 {
  padding: 25px 18px;
}

.u-section-6 .u-text-12 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 0 25px 0 0;
}

.u-section-6 .u-text-13 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 11px 12px 0;
}

.u-section-6 .u-social-icons-6 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 27px auto 0 12px;
}

.u-section-6 .u-icon-16 {
  height: 100%;
  background-image: none;
}

.u-section-6 .u-icon-17 {
  height: 100%;
  background-image: none;
}

.u-section-6 .u-icon-18 {
  height: 100%;
  background-image: none;
}

.u-section-6 .u-container-layout-7 {
  padding: 25px 18px;
}

.u-section-6 .u-text-14 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 0 25px 0 0;
}

.u-section-6 .u-text-15 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 11px 12px 0;
}

.u-section-6 .u-social-icons-7 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  background-image: none;
  margin: 27px auto 0 12px;
}

.u-section-6 .u-icon-19 {
  background-image: none;
}

.u-section-6 .u-icon-20 {
  background-image: none;
}

.u-section-6 .u-icon-21 {
  background-image: none;
}

.u-section-6 .u-container-layout-8 {
  padding: 25px 18px;
}

.u-section-6 .u-text-16 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 0 25px 0 0;
}

.u-section-6 .u-text-17 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 11px 12px 0;
}

.u-section-6 .u-social-icons-8 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  background-image: none;
  margin: 27px auto 0 12px;
}

.u-section-6 .u-icon-22 {
  background-image: none;
}

.u-section-6 .u-icon-23 {
  background-image: none;
}

.u-section-6 .u-icon-24 {
  background-image: none;
}

.u-section-6 .u-group-1 {
  width: 570px;
  min-height: 630px;
  height: auto;
  margin: -849px 0 219px auto;
}

.u-section-6 .u-container-layout-9 {
  padding: 0 30px 30px;
}

.u-section-6 .u-text-18 {
  margin: 243px 0 0;
}

.u-section-6 .u-social-icons-9 {
  height: 233px;
  min-height: 16px;
  width: 233px;
  min-width: 16px;
  margin: 22px auto 0;
}

.u-section-6 .u-icon-25 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1210px;
  }

  .u-section-6 .u-text-1 {
    width: 529px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-list-1 {
    width: 634px;
    margin-top: 58px;
    margin-left: auto;
    margin-bottom: 21px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1016px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-group-1 {
    width: 480px;
    min-height: 687px;
    margin-top: -687px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1168px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-6 .u-group-1 {
    min-height: 236px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-9 {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1104px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-right: 0;
  }

  .u-section-6 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-12 {
    margin-right: 0;
  }

  .u-section-6 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-14 {
    margin-right: 0;
  }

  .u-section-6 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-16 {
    margin-right: 0;
  }

  .u-section-6 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-group-1 {
    min-height: 203px;
    margin-top: 42px;
    margin-bottom: 58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.625rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    width: 417px;
    margin: 27px -38px 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
    min-height: 243px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 10px 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 16px;
    margin-right: 12px;
    margin-left: 4px;
  }

  .u-section-6 .u-social-icons-1 {
    height: 16px;
    width: 68px;
    margin-top: 3px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-1 {
    height: 100%;
  }

  .u-section-6 .u-icon-2 {
    height: 100%;
  }

  .u-section-6 .u-icon-3 {
    height: 100%;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 10px 0;
  }

  .u-section-6 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-6 .u-text-5 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 16px;
    margin-right: 12px;
    margin-left: 4px;
  }

  .u-section-6 .u-social-icons-2 {
    height: 16px;
    width: 68px;
    margin-top: 3px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-4 {
    height: 100%;
  }

  .u-section-6 .u-icon-5 {
    height: 100%;
  }

  .u-section-6 .u-icon-6 {
    height: 100%;
  }

  .u-section-6 .u-container-layout-3 {
    padding: 10px 0;
  }

  .u-section-6 .u-text-6 {
    font-size: 1rem;
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-6 .u-text-7 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 16px;
    margin-right: 12px;
    margin-left: 4px;
  }

  .u-section-6 .u-social-icons-3 {
    height: 16px;
    width: 68px;
    margin-top: 3px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-7 {
    height: 100%;
  }

  .u-section-6 .u-icon-8 {
    height: 100%;
  }

  .u-section-6 .u-icon-9 {
    height: 100%;
  }

  .u-section-6 .u-container-layout-4 {
    padding: 10px 0;
  }

  .u-section-6 .u-text-8 {
    font-size: 1rem;
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-6 .u-text-9 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 16px;
    margin-right: 12px;
    margin-left: 4px;
  }

  .u-section-6 .u-social-icons-4 {
    height: 16px;
    width: 68px;
    margin-top: 3px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-10 {
    height: 100%;
  }

  .u-section-6 .u-icon-11 {
    height: 100%;
  }

  .u-section-6 .u-icon-12 {
    height: 100%;
  }

  .u-section-6 .u-container-layout-5 {
    padding: 10px 0;
  }

  .u-section-6 .u-text-10 {
    font-size: 1rem;
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-6 .u-text-11 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 16px;
    margin-right: 12px;
    margin-left: 4px;
  }

  .u-section-6 .u-social-icons-5 {
    height: 16px;
    width: 68px;
    margin-top: 3px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-13 {
    height: 100%;
  }

  .u-section-6 .u-icon-14 {
    height: 100%;
  }

  .u-section-6 .u-icon-15 {
    height: 100%;
  }

  .u-section-6 .u-container-layout-6 {
    padding: 10px 0;
  }

  .u-section-6 .u-text-12 {
    font-size: 1rem;
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-6 .u-text-13 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 16px;
    margin-right: 12px;
    margin-left: 4px;
  }

  .u-section-6 .u-social-icons-6 {
    height: 16px;
    width: 68px;
    margin-top: 3px;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-7 {
    padding: 10px 0;
  }

  .u-section-6 .u-text-14 {
    font-size: 1rem;
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-6 .u-text-15 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 16px;
    margin-right: 12px;
    margin-left: 4px;
  }

  .u-section-6 .u-social-icons-7 {
    height: 16px;
    width: 68px;
    margin-top: 3px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-19 {
    height: 100%;
  }

  .u-section-6 .u-icon-20 {
    height: 100%;
  }

  .u-section-6 .u-icon-21 {
    height: 100%;
  }

  .u-section-6 .u-container-layout-8 {
    padding: 10px 0;
  }

  .u-section-6 .u-text-16 {
    font-size: 1rem;
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-6 .u-text-17 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 16px;
    margin-right: 12px;
    margin-left: 4px;
  }

  .u-section-6 .u-social-icons-8 {
    height: 16px;
    width: 68px;
    margin-top: 3px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-22 {
    height: 100%;
  }

  .u-section-6 .u-icon-23 {
    height: 100%;
  }

  .u-section-6 .u-icon-24 {
    height: 100%;
  }
}